header {
    margin-top: 30px;
}
h1 {
    font-weight: 600;
}
body {
    max-width: 800px;
    width: 80%;
	margin-left: auto;
	margin-right: auto;
    text-align: left;
    font-family: "Lexend Deca", serif;
    line-height: 1.8;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: inline-block;
}

.vertical-heading {
    writing-mode: vertical-rl;
    transform: rotate(180deg); 
    margin-right: 20px; 
    display: inline-block;
    line-height: 1.5;
    font-weight: 300;
}

.rule-set {
    display: flex; 
    justify-content: left; 
    align-items: center;
    margin-bottom: 20px; 
}
footer {
    margin-top: 30px;
    font-size: 0.8em;
}